@page "/about"

<h3>About</h3>

<div>
    <p class="about_text">
        Simple IPv4 Subnet Calculator developed using Blazor Server/.Net 6 which calculates the number of subnets for an IPv4 address with net mask and number of networks provided by the user. The app is based on the IPv4 subnetting examples from the <a href="https://app.pluralsight.com/course-player?clipId=57524c33-f76e-45ad-b8c4-2d9d3a1ffded" class="underline font-bold">Network Layer Addressing and Subnetting</a> Pluralsight course.
    </p>

    <table>
        <tr>
            <td>
                <a href="https://github.com/johnt84/SubnetCalculator/" class="underline font-bold">View the source code here</a>
            </td>
        </tr>
    </table>
</div>



